:root{
    --bg-color: #a191ff;
    --text-color: #000;
    --card-bg-color: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: var(--bg-color);
}

header{
    margin: 10px 0;
}

h1{
    
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 10px;
    color: var(--text-color);
}

.game{
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
    margin: auto;
    perspective: 1000px;
}

.card{
    position: relative;
    margin: 5px;
    width: calc(25% - 10px);
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .9s;
}

.card-front, 
.card-back{
    position: absolute;
    left: 0;
    border-radius: 15px;
    background-color: var(--card-bg-color);
    width: 100%;
    padding: 5px;
    backface-visibility: hidden;
}

.card:active{
    transform: scale(0.97);
    transition: transform .3s;
}

.card-front{
    transform: rotateY(180deg);
}

.card.flipped{
    transform: rotateY(180deg);
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    height: 50px;
    width: 100%;
    background-color: var(--card-bg-color);
}

footer p{
    margin: 0 60px;
}

footer a{
    color: var(--text-color);
    text-decoration: none;
}

footer a:hover{
    color: var(--bg-color);
    font-size: 18px;
}