:root {
    --bg-color: #a191ff;
    --text-color: #000;
    --card-bg-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: var(--bg-color);
}

header {
    margin: 10px 0;
}

h1 {
    color: var(--text-color);
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

.game {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    perspective: 1000px;
}

.card {
    position: relative;
    margin: 5px;
    width: calc(25% - 10px);
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .9s;
}

.card-front,
.card-back {
    position: absolute;
    left: 0;
    backface-visibility: hidden;
    border-radius: 15px;
    background-color: var(--card-bg-color);
    padding: 5px;
    width: 100%;
}

.card:active {
    transform: scale(0.97);
    transition: transform .3s;
}

.card-front {
    transform: rotateY(180deg);
}

.card.flipped {
    transform: rotateY(180deg);
}

footer {
    background-color: var(--card-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 50px;
    width: 100%;
}

footer a {
    color: var(--text-color);
    text-decoration: none;
}

footer a:hover {
    color: var(--bg-color);
    font-size: 18px;
}

@media screen and (min-width: 0) {
    .game {
        height: 50%;
        width: 100%;
    }
}

@media screen and (min-width: 600px) {
    .game {
        height: 70%;
        width: 90%;
    }
}

@media screen and (min-width: 1024px) {
    .game {
        height: 600px;
        width: 600px;
    }
}